<footer class="footer">
  <a href="#home"> <div class="link-arrow"></div></a>
  <nav class="blog">
    <ul class="list">
      <li>
        <a class="link" href="https://adalab.es" target="_black">articles</a>
      </li>
      <li>
        <a class="link" href="https://adalab.es" target="_black">books</a>
      </li>
      <li>
        <a class="link" href="https://adalab.es" target="_black">events</a>
      </li>
      <li>
        <a class="link" href="https://adalab.es" target="_black">reasons</a>
      </li>
      <li><a class="link" href="https://adalab.es" target="_black">tips</a></li>
    </ul>
  </nav>
  <nav class="social-media">
    <ul class="list">
      <li>
        <a class="link" href="https://adalab.es" target="_black">twitter</a>
      </li>
      <li>
        <a class="link" href="https://adalab.es" target="_black">instagram</a>
      </li>
      <li>
        <a class="link" href="https://adalab.es" target="_black"
          >mastodon social</a
        >
      </li>
      <li><a class="link" href="https://adalab.es" target="_black">tips</a></li>
    </ul>
  </nav>
  <small class="copy">
    <div class="">&copy2021</div>
    <div>
      we<span class="icon-heart"><i class="fas fa-heart"></i></span>components
    </div>
  </small>
</footer>
