<main class="main">
  <section class="tips">
    <article>
      <h2 class="section-tips">insomnia tips</h2>
      <h3 class="article-tips">looking through a window</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        excepturi magnam reiciendis totam ipsa aspernatur fugiat tenetur,
        provident amet eum aliquid laborum, nostrum accusamus.
      </p>
    </article>
    <div class="button go">BUTTON GO</div>
  </section>
  <section>
    <h2 class="reasons">3 reasons to purchase</h2>
    <article class="box reason1">
      <h3 class="title-reason">ut sed metus</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </article>
    <article class="box reason2">
      <h3 class="title-reason">curabitur ac erat</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </article>
    <article class="box reason3">
      <h3 class="title-reason">morbi dictum</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </article>
    <div class="button-more">BUTTON MORE REASON</div>
  </section>
</main>
