<main class="main">
  <section>
    <article>
      <h2>insomnia tips</h2>
      <h3>looking through a window</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam excepturi
      magnam reiciendis totam ipsa aspernatur fugiat tenetur, provident amet eum
      aliquid laborum, nostrum accusamus.
    </article>
    <div>BUTTON GO</div>
  </section>
  <section>
    <h2>3 reasons to purchase</h2>
    <article>
      <h3>ut sed metus</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </article>
    <article>
      <h3>curabitur ac erat</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </article>
    <article>
      <h3>morbi dictum</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </article>
    <div>BUTTON MORE REASON</div>
  </section>
</main>
