.menu-wrapper {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.icon-wrapper {
  width: 16px;
  height: 14px;
  background-image: url("../images/ico-menu.svg");
}
