.menu-wrapper {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  background-image: url("../images/ico-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}
