.hero {
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font: 2.625rem $fontTitle;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 55px;
  max-width: 400px;
  margin-top: 284px;
  margin-bottom: 10px;
}
.link-hero {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  top: 30px;
}
.claim {
  font: 1rem $fontText;
}
.container-tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  margin: 15px;
}
.tips {
  height: 30px;
  font: 0.875rem $fontText;
  color: #8ccbea;
  text-transform: capitalize;
  margin-top: 30px;
}
.title-tips {
  color: black;
  font: 1.5rem $fontTitle;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.text-tips {
  margin: 0;
  font: 1.125rem $fontText;
  color: #4a4a4a;
}
.link-go {
  width: 76px;
  height: 45px;
  margin-top: 45px;
  margin-bottom: 45px;
  border: solid 2px $color-orange;
  border-radius: 2em;
  color: $color-orange;
  font-size: 1.25rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons {
  background-color: $background-color-reasons;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr 165px;
}
.reasons-title {
  justify-self: center;
  color: black;
  font: 1.5rem $fontTitle;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 0;
}
.box {
  justify-self: center;
  color: black;
  margin-top: 45px;
  text-align: center;
  font: 1.125rem $fontText;
  max-width: 210px;
}
.title-reason {
  font: 1.125rem $fontTitle;
  font-weight: 700;
}
.text-reason {
  font: 1.125rem $fontText;
}
.button-more {
  width: 62%;
  height: 45px;
  min-width: 184px;
  max-width: 210px;
  background-color: $color-orange;
  border-radius: 2em;
  justify-self: center;
  align-self: center;
  color: white;
  font: 1.25rem $fontTitle;
  font-weight: 500;
  text-align: center;
  padding-top: 8px;
}
