.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.title {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 2.625rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 400px;
  margin-bottom: 10px;
}
.claim {
  color: white;
  font-size: 1rem;
}

.buttom-hero {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 53px;
}

.container-tips {
  width: 100vw;
  height: 376px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
