.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.title {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 2.625rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 400px;
  margin-bottom: 10px;
}
.claim {
  color: white;
  font-size: 1rem;
}

.buttom-hero {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 53px;
}

.container-tips {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 30px;
}
.title-tips {
  font-size: 0.875rem;
  color: #8ccbea;
  text-transform: capitalize;
  margin-top: 30px;
}
.article-tips {
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.text-tips {
  margin: 0;
  font-size: 1.125rem;
  color: #4a4a4a;
}
.link-go {
  width: 76px;
  height: 45px;
  margin-top: 45px;
  margin-bottom: 45px;
  border: solid 2px #f26002;
  border-radius: 2em;
  color: #f26002;
  font-size: 1.25rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons {
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr 165px;
}
.reasons-title {
  justify-self: center;
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 0;
}
.box {
  justify-self: center;
  color: black;
  margin-top: 45px;
  text-align: center;
  font-size: 1.125rem;
  max-width: 210px;
}
.title-reason {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.text-reason {
  font-family: "Roboto", sans-serif;
}
.button-more {
  width: 62%;
  height: 45px;
  min-width: 184px;
  max-width: 210px;
  background-color: #f26002;
  border-radius: 2em;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
